<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Regression1">
        <classes>
            <class name="com.ecom.testcases.BookingPageTest"/>
            <class name="com.ecom.testcases.CheckoutTest"/>
            <class name="com.ecom.testcases.ClosePageTest"/>
        </classes>
    </test>

    <!--<suite name="Suite1" verbose="1" >
        <test name="Regression1"   >
            <packages>
                <package name="com.ecom.testcases" />
            </packages>
        </test>
    </suite>-->

    <!--<test name="Regression1">
        <groups>
            <run>
                <exclude name="brokenTests"  />
                <include name="checkinTests"  />
            </run>
        </groups>

        <classes>
            <class name="test.IndividualMethodsTest">
                <methods>
                    <include name="testMethod" />
                </methods>
            </class>
        </classes>
    </test>-->


</suite>
